<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" safemode="true"/>
    <requiredRuntime version="v2.0.50727" safemode="true"/>
  </startup>
  <appSettings>
    <add key="BTnicAddress" value="192.168.0.252" />
	<add key="LogInterval" value="1" />
	<add key="LogFileName" value="BT.log" />
	<add key="LogItems" value="a" />
	<add key="TimestampFormat" value="yyyy-MM-dd HH:mm:ss" />
	<add key="NewLogFileTimeout" value="00:02:00" />
	<add key="ArchiveLogFileName" value="yyyyMMddTHHmm'_BT.log'" />
	<add key="ArchiveLogPath" value=".\Logs\" />
  </appSettings>
</configuration>